  body {
      font: 400 17px Lato;
      line-height: 1.8;
      color: #818181;
  }
  h1 {
      color: #303030;
  }
  .jumbotron {
      background-color: #A9E2F3;
      color: #fff;
      padding: 100px 25px;
      font-family: Montserrat, sans-serif;
  }
  .container-fluid {
      padding: 60px 50px;
  }
  .bg-grey {
      background-color: #f6f6f6;
  }
  .navbar {
      margin-bottom: 0;
      background-color: #A9E2F3;
      z-index: 9999;
      border: 0;
      font-size: 12px !important;
      line-height: 1.42857143 !important;
      letter-spacing: 4px;
      border-radius: 0;
      font-family: Montserrat, sans-serif;
  }
  .navbar li a,
  .navbar .navbar-brand {
      color: #fff !important;
  }
  .navbar-nav li a:hover,
  .navbar-nav li.active a {
      color: #A9E2F3 !important;
      background-color: #fff !important;
  }
  .navbar-default .navbar-toggle {
      border-color: transparent;
      color: #fff !important;
  }
  footer .glyphicon {
      font-size: 20px;
      margin-bottom: 20px;
      color: #A9E2F3;
  }
  .jumbotron {
      margin: 0px;
  }
  .img-thumbnail {
      max-width: 250px;
  }
    #titulo {
      color: #58ACFA;
  }
  
    #fecha {
		font-size:14px;
	}
    /* Tablets en horizonal y escritorios normales */
  
  @media (min-width: 768px) and (max-width: 2000px) {
      #todo {
          margin-right: 300px;
          padding: 0px;
      }
      #pub {
          float: right;
          background-color: #f6f6f6;
          max-width: 300px;
          min-width: 300px;
          max-height: 100%;
          padding: 5px;
          border-style: solid;
      }
  }
  /* Móviles en horizontal o tablets en vertical */
  
  @media (max-width: 767px) {
      #todo {
          margin-right: 0px;
          padding: 0px;
      }
      #pub {
          width: 100%;
          height: 150px;
          float: left;
          background-color: #f6f6f6;
          padding: 5px;
          border-style: solid;
          margin-bottom: 20px;
      }
      #titulo {
          font-size: 24px;
      }
      #cap {
          font-size: 30px;
      }
      #tex {
          font-size: 19px;
      }
  }
  /* Móviles en vertical */
  
  @media (max-width: 480px) {
      #todo {
          margin-right: 0px;
          padding: 0px;
      }
      #pub {
          width: 100%;
          height: 150px;
          float: left;
          background-color: #f6f6f6;
          padding: 5px;
          border-style: solid;
          margin-bottom: 20px;
      }
      #titulo {
          font-size: 24px;
      }
      #cap {
          font-size: 28px;
      }
      #tex {
          font-size: 17px;
      }
      .navbar-brand {
          font-size: 13px;
      }
  }